<li style="width:477px;margin:0px 10px;padding:0px;vertical-align:top">
	<div class="row" style="width:477px;padding:0px;margin:0px">
		<img src="http://localhost/dolibarr/htdocs/viewimage.php?modulepart=product&entity=1&file=%2F{{product.ref}}%2F{{product.ref}}.jpg" class="img-responsive img-rounded" alt="*Image produit*"/>
	</div>
	<div class="row">
		<div class="title text-uppercase col-sm-9 col-xs-8 text-left">{{ product.title }}</div><div class="price col-sm-3 col-xs-4 text-right">{{ product.price_u }} €<sup>{{product.price_d}}</sup></div>
	</div>
	<div class="row bg-info" style="width:477px;margin:0px;padding:0px;">
	<div class="text-left col-sm-9 col-xs-8 text-left">{{product.packaging}}</div><div class="text-right col-sm-3 col-xs-4 text-right">~ {{product.weight}} {{product.weight_unit}}</div>
	</div>
	<div class="row bg-warning" style="width:477px;margin:0px;padding:0px;">
	<p class="text-right col-sm-12 col-xs-12">{{product.priceper}} € / {{product.unit}}</p>
	</div>
	<div class="row">
		<p class="col-md-6"><a class="btn btn-success" href="{{base_path}}/store/{{product.id}}" role="button">Voir details &raquo;</a></p>
		<form class="form-inline">
			<div class="input-group col-md-5">
				<span class="input-group-addon">
					<div>Qté</div>
				</span>
				<input type="number" class="form-control" name="quantite" min='1' placeholder='1'/>
				<span class="input-group-btn">
				<button type="submit" class="btn btn-primary">Ajouter</button>
				</span>
			</div>
		</form>
	</div>
</li>