<li style="width:477px;margin:0px 10px;padding:0px;vertical-align:top">
	<div class="row" style="width:477px;padding:0px;margin:0px">
		<img src="http://localhost/dolibarr/htdocs/viewimage.php?modulepart=societe&entity=1&file=%2F{{supplier.id}}%2F{{supplier.id}}.jpg" class="img-responsive img-rounded" alt="*Image producteur*"/>
	</div>
	<div class="row">
		<div class="title text-uppercase col-sm-9 col-xs-8 text-left">{{ supplier.name }}</div>
	</div>
	<div class="row bg-info" style="width:477px;margin:0px;padding:0px;">
	<div class="text-left col-sm-9 col-xs-8 text-left">{{supplier.town}}</div>
	</div>
</li>